
  .logo-holder {
      width: 250px;
      height: 290px;
      position: relative;
      margin: 0 auto ;
      padding-top: 12px;
      padding-bottom: 12px;
      -webkit-transform: translateZ(0);
   }
  
  .bar {
      position: relative;
      height: 20px;
      width:  0%;
      top: 0px;
      left: 18px;
      margin-top: 8px;
      border-radius: 8px;
      animation: fill 5s infinite alternate, colors 5s infinite alternate;
  }
  
  .bar.fill1 {
    animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
  }
  
  .bar.fill2 {
     animation:  fill-2 5s infinite alternate, colors 5s infinite alternate;
  }
  
  
  .bar.fill3 {
     animation:  fill-3 5s infinite alternate, colors 5s infinite alternate;
  }
  
  
  .bar.fill4 {
     animation:  fill-4 5s infinite alternate, colors 5s infinite alternate;
  }
  
  .bar.fill5 {
     animation:  fill-5 5s infinite alternate, colors 5s infinite alternate;
  }
  
  .bar.fill6 {
     animation:  fill-6 5s infinite alternate, colors 5s infinite alternate;
  }
  
  
  
  @keyframes fill {
    0%   { width: 40px; }
    33%  { width: 100px;}
    66%  { width: 80px;}
    100% { width: 185px; }
  }
  
  @keyframes fill-1 {
    0%   { width: 20px; }
    33%  { width: 130px;}
    66%  { width: 100px;}
    100% { width: 210px; }
  }
  
  @keyframes fill-2 {
    0%   { width: 60px; }
    33%  { width: 170px;}
    66%  { width: 150px;}
    100% { width: 216px; }
  }
  
  @keyframes fill-3 {
    0%   { width: 10px; }
    33%  { width: 130px;}
    66%  { width: 104px;}
    100% { width: 189px; }
  }
  
  @keyframes fill-4 {
    0%   { width: 30px; }
    33%  { width: 178px;}
    66%  { width: 114px;}
    100% { width: 179px; }
  }
  
  @keyframes fill-5 {
    0%   { width: 40px; }
    33%  { width:110px;}
    66%  { width: 90px;}
    100% { width: 228px; }
  }
  
  
  @keyframes fill-6 {
    0%   { width: 20px; }
    33%  { width: 128px;}
    66%  { width: 102px;}
    100% { width: 220px; }
  }
  
  @keyframes colors {
    0% { background-color:  #823e93;}
    50% { background-color: #401e48;}
    100% { background-color: #823e93;}
  }
  