.button:hover{
    color: white;
}
.hero-content p{
    margin-bottom: 20px !important;
}

input[type=text]{
    background-color: #282C34;
    border: none;
}
input[type=email]{
    background-color: #282C34;
    border: none;
}
textarea[type=text]{
    background-color: #282C34;
    border: none;
}
